<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <connectionStrings>
    <add name="ProviderConnectionString" connectionString="Data Source=.;Initial Catalog=AspNetDb;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <httpRuntime targetFramework="4.5"/>
    <membership defaultProvider="AspNetDbManagerMembershipProvider">
      <providers>
        <remove name="AspNetSqlMembershipProvider"/>
        <add name="AspNetDbManagerMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ProviderConnectionString" applicationName="AspNetDbManager" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"/>
      </providers>
    </membership>
    <roleManager defaultProvider="AspNetDbManagerRoleProvider" cacheRolesInCookie="true" enabled="true">
      <providers>
        <remove name="AspNetSqlRoleProvider"/>
        <remove name="AspNetWindowsTokenRoleProvider"/>
        <add connectionStringName="ProviderConnectionString" applicationName="AspNetDbManager" name="AspNetDbManagerRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
      </providers>
    </roleManager>
    <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
      <providers>
        <add name="XmlSiteMapProvider" description="Default SiteMap provider." type="System.Web.XmlSiteMapProvider " siteMapFile="Web.sitemap" securityTrimmingEnabled="false"/>
      </providers>
    </siteMap>
  </system.web>
</configuration>